
@media all and (max-width: 480px){

    .topCarouselImg{
        height: 18rem;
        width: 100%;
    }
}
@media all and (min-width: 480px){
    .topCarouselImg{
        height: 24rem;
        width: 100%;
    }
    /*.view-container{*/
    /*width: 48rem;*/
    /*}*/

}
html{
    font-size: 62.5%;
}
.topCarousel{
    position: relative;
    /*width: calc(100% + 20px);*/
    width: 100%;

}
.topCarousel .slider-pager{
    text-align: right;
    height: 3rem;
}

.topCarousel .slider-pager-page{
    width: .1rem;
}
.topCarousel .ion-record{
    position: relative;
    bottom: -2rem;
    right: 2rem;
    display: block;
    width: .5rem;
    height: .5rem;
    border-radius: 50%;
    background-color: white;
}
.slideBottomDiv{
    position: absolute;
    padding-left: 1.5rem;
    bottom: .6rem;
    width: 100%;
    font-size: 1.5rem;
    line-height: 3rem;
    height: 3rem;
    background-color: rgba(0,0,0,.3);
    color: white;
}
.popup-buttons{
    border-top: solid 1px #d1d3d6;
    padding: 0;
    min-height: 0;
}

.popup-container .popup{
    width: 300px;
    border-radius: 6px;
}
.button.button-dark.button-clear{
    border-right: solid 1px #d1d3d6;

}
.mybar{
    height: 20rem;
}
.btn{
    height:3rem;
    margin-top: 8rem;
}
.myfont{
    font-size: .3rem;
}
.classBar{
    display: flex;
    line-height: 3.6rem;
    flex-flow: row nowrap;
}
.button1{
    margin-left: 1rem;
}
.zyx img{
    width: 30%;
    height: 100%;
}
.zyx span{
    margin-right: 2rem;
}

/*登录页面*/

/*夜间模式*/
.backdrop{
    pointer-events: none;
}
.myBar{
    height: 25%;
    background-color: #ef473a;
}
.newCon img{
    width: 100%;
    height: 100%;
}
.newConTitle{
    padding: 1rem;
    text-align: center;
    font-family: 黑体;
}
.divSs{
    outline: 1px red solid ;
    display: inline-block;
    /*margin-top: 20px;*/
}
/*我的消息颜色*/
.ion-android-notifications-none:before{
    color: red;
}
/*最新动态*/
.ion-android-textsms:before{
    color: red;
}
/*内容下拉框*/
.ionScroll{
    margin-top:28.5rem;
    z-index: 1;
}
/*系统颜色控制器*/
.toggle .track{
    height: 0;
    /*display: inline-block;*/
}
.toggle input:checked+.track .handle{
    background-color:#ef473a;
}
ol, ul{
    margin-top: -.5rem;
}
.toggle .handle{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 2.5rem;
    /*margin-top: .rem;*/
}
/*我的钱包*/
.sPanP{
    display: inline;
    margin-right: .3rem;
}

/*我的页面!!!!*/
a{
    text-decoration: none;
}
.myBarLogin{
    position: absolute;
    top:6%;
}
.myBarLoginLG{
    background-color: white;
    text-align: center;
    border-radius: .3rem;
}
.myBarLoginLG a {
    color: red;

}
.myBarLoginZC{
    color: white;
    font-size: 1rem;
    margin-left: 1rem;
}
.myBarLoginDL{
    border: .1rem lavender solid;
    text-align: center;
    margin-right: -2.5rem;
    border-radius: 2rem;
    color: white;
}
.myBarLoginFX{
    position: absolute;
    top:16%;
    text-align: center;
    color: white;
}
.myBarLoginFXWB{
    border-left: .1rem solid white;
    border-right: white .1rem solid;
}
.myBarLoginCARD{
    margin-top: -2rem;
    padding: 0;
    height: 6%;
}

.myBarLoginCARDq{
    text-align: center;
}
.myBarLoginCARDq a{
    color: darkgray;
}
.myBarLoginCARD .myBarLoginCARDq .Row{
    margin-top: -1.5rem;
}
.myBarLoginCARD .myBarLoginCARDq .Row .RowMy{
    border-right: 1px solid gainsboro;
}
.myBarLoginDY{
    text-align: center;
}
.myBarLoginDY .item .row .col>a{
    display: block;
    margin-top: -1.1rem;
}
.myBarLoginDY .item .row .col{
    border-right: 1px solid gainsboro;
}
.myBarLoginDY .item .row #COL{
    border: none;
}
.myBarLoginDY .item-text-wrap{
    padding: 0;
}
.SCrllas .ionScrollCard span{
    float: right;
}


/*直播*/
.LivePa{
    margin-top: -.2rem;
    height: 3rem;
    text-align: center;
    padding: 0;
}
.LivePa .item{
    padding: 0rem;
}
.LivePa p {
    /*margin-top: -10px;*/
    line-height: 3rem;

}
.LiveP{
    height:7rem;
    margin-top: -1rem;
    overflow: hidden;
}
.LiveP a{
    width: 15rem;
    height: 15rem;
    margin-right: 2rem;
    font-size: 1rem;
    text-align: center;
}
.LiveP img{
    height:30%;
    border-radius: 50%;
}

.classBar1{
    display: flex;
}
.DSAsa .DSAsacc{
    color: white;
    line-height: 20rem;
}
.DSAsaA{
    /*outline: 1px red solid ;*/
    position: absolute;
    background-color: rgba(82, 75, 75, 0.54);
    width: 10rem;
    height: 2rem;
    left: 2rem;
    top: 1rem;
    z-index: 99;
    border-radius: 1rem ;
    font-size: 1rem;
    color: white;
    /*text-align: center;*/
}
.DSAsaA img {
    position: absolute;
    border-radius: 50%;
    left: .6rem;
    width: 20%;
}
.DSAsaAAA{
    position: absolute;
    top: 0;
    left: 3.5rem;
}

/*话题*/
/*.topicTitleDiv{*/
    /*display: flex;*/

/*}*/
.topicCard{
    height: 70px;
}
/*.topicTitleDiv{*/
    /*width: 100px;*/
    /*height: 70px;*/
    /*background-color: #0a9dc7;*/
/*}*/
.card .TopickImg{
    height: 3rem;
    width: 3rem;
}
.card .TopickImg img{
    width: 15%;
    height: 15%;
    border-radius: 50%;
}
.TopickImga{
    /*margin-top: 20px;*/
}
.TopickImga img{
    width: 100%;
    height: 10%;
}

/*话题详情页*/
.topicContent{
    background-color: rgba(225, 225, 225, 0.98);
}
.topicContent .card{
    margin: 10px 10px;
}
/*.TOPICdiv{*/
    /*!*background-color: #9e9e9e;*!*/
    /*height: 20rem;*/
    /*width: 100%;*/
/*}*/
.TOPICdiv img{
    width: 100%;
    height: 100%;
}


.TOPICdiv .TOPICdivC{
    background-color: rgba(0, 0, 0, 0.3);
    height:21rem;
    width:100%;
    position: absolute;
    top: 0rem;
    text-align: -webkit-center;
}

.TOPICdivCa{
    height:10rem;
    width:80%;
    margin-top: 6rem;
    text-align: center;
    color: white;
    /*background-color: #0c60ee;*/
}

.TOPICdiv .card{
    text-align: center;
    margin: 5px 10px;

}
.topickKard{
    display: flex;
    height: 100px;
    overflow: hidden;
    /*background-color: #0c60ee;*/
    transition: all 2s;
}
.topickKarda{

    /*margin-left: 1rem;*/
    width: 100%;
    display: inline-block;
    padding:3%;
    /*background-color: #0c60ee;*/

}
.topickKardb{
    text-align: left;
    /*background-color: red;*/
    font-size: 1.3rem;
    display: inline-block;
    padding:3%;
    line-height: 2.5rem;

}
.topickKardc img{
   border-radius: 50%;
}
.topicContent .topicCard .card{
    background-color: rgba(225, 225, 225, 0.98);
    box-shadow: 10px 30px rgba(0,0,0,0);
}

.topicContent .card .Cardion{
    border-bottom: 1px solid gainsboro;
    /*width: 95%;*/
    margin: auto;
}
.topicContent span{
   padding-left: 10px
}