<!--积分商城-->
<ion-view id="aa">
    <div class="bar bar-assertive">
        <div>
            <span class="button button-clear button-light">热门</span>
            <span class="button button-clear button-light">分类</span>
            <span class="button button-clear button-light">订阅</span>
        </div>

    </div>
    <ion-content class="has-header">
        <!--轮播图-->
        <mg-slide-box source-array="news.adsArray1"></mg-slide-box>

        <div class="card LivePa">
            <div class="item item-text-wrap">
                <a ng-repeat="ima in imas">
                    <p>{{ima.roomName}}</p>
                </a>
            </div>
        </div>

        <ion-scroll class="card LiveP"
                    direction="x"
                    min-zoom="0.5"
                    max-zoom="1">
            <div class="classBar1">
                <a ng-repeat="ima in itema">
                   <img ng-src="{{ima.icon}}">
                   <p>{{ima.tname}}</p>
                </a>
            </div>
        </ion-scroll>
        <ion-list class="DSAsa">
            <ion-item  style='background: url("{{ite.image}}");background-size: 100%;height: 150px' ng-repeat="ite in imad">
                <!--<span ng-repeat="">{{ite.sourceinfo.tname}}</span>-->
                <span class="DSAsacc">{{ite.roomName}}</span>
            </ion-item>

            <div class="DSAsaA">
                <img ng-src="{{imada.timg}}">
                <span class="DSAsaAAA">{{imada.tname}}</span>
            </div>


        </ion-list>
    </ion-content>
</ion-view>