<!--首页-->
<ion-view view-title="新闻">
    <ion-nav-bar class="bar-assertive">
        <ion-nav-back-button></ion-nav-back-button>
    </ion-nav-bar>

    <!--导航条-->
        <div class="bar bar-subheader">
            <ion-scroll class="button-bar"
                        direction="x"
                        min-zoom="0.5"
                        max-zoom="1">
                <div class="classBar">
                    <a ng-repeat="num in numArry"  style="white-space:nowrap" class="button1">{{num.tname}}</a>
                </div>
            </ion-scroll>
        </div>
<ion-content>
    <!--轮播图-->
    <mg-slide-box source-array="news.adsArray"></mg-slide-box>
    <!--新闻列表-->
    <!--上拉加载-->
    <!--<ion-infinite-scroll-->
            <!--on-infinite="loadMore('上拉')"-->
            <!--distance="1%"-->
            <!--spinner="android"-->
            <!--immediate-check="true"-->
            <!--ng-if="isShowInfinite">-->
    <!--</ion-infinite-scroll>-->
    <div ng-click="loadMore()">ssssssssss</div>
    <ion-list>
        <ion-item ng-repeat="ite in items" class="iTems-div item-text-wrap" >
                  <img ng-src="{{ite.imgsrc}}" style="width: 20%;height: 100%">
                  <span>{{ite.title}}</span>
        </ion-item>
    </ion-list>
</ion-content>
</ion-view>