<!--首页-->
<ion-view>
    <ion-header-bar align-title="left" class="bar-assertive">
        <div class="buttons"></div>
        <div class="buttons"></div>
    </ion-header-bar>
    <!--导航条-->
        <div class="bar bar-subheader">
            <ion-scroll class="button-bar"
                        direction="x"
                        min-zoom="0.5"
                        max-zoom="1">
                <div class="classBar" style="background-color: #d1d1d1">
                    <button ng-repeat="num in numArry"  style="white-space:nowrap" class="button1" ng-click="ddSome($index)">
                        {{num.tname}}
                    </button>
                </div>
            </ion-scroll>
        </div>
<ion-content>
<div class="bar"></div>
    <!--轮播图-->
    <mg-slide-box source-array="news.adsArray"></mg-slide-box>
    <ion-list>
        <ion-item ng-repeat="ite in items " class="iTems-div item-text-wrap" ng-click="doSome($index)">
                  <img ng-src="{{ite.imgsrc}}" style="width: 20%;height: 100%">
                  <span>{{ite.title}}</span>
        </ion-item>
    </ion-list>


            <!--上拉加载-->
            <ion-infinite-scroll
                    on-infinite="loadMore()"
                    distance="1%"
                    spinner="android"
                    icon="ion-loading-c">
            </ion-infinite-scroll>
</ion-content>
</ion-view>