<!--首页-->
<ion-view view-title="新闻">
    <ion-nav-bar class="bar-assertive">
        <ion-nav-back-button></ion-nav-back-button>
    </ion-nav-bar>

    <!--导航条-->
        <div class="bar bar-subheader">
            <ion-scroll class="button-bar"
                        direction="x"
                        min-zoom="0.5"
                        max-zoom="1">
                <div class="classBar">
                    <a ng-repeat="num in numArry"  style="white-space:nowrap" class="button1">{{num.tname}}</a>
                </div>
            </ion-scroll>
        </div>

<ion-content delegate-handle="mainScroll">

<!--<div class="bar bar-subheader"></div>-->

    <!--固定返回条-->
    <div class="scollMainTotop"> <button ng-click="scrollMainToTop()"> 滚动内容到顶部!</button></div>

    <div class="bar-subheader"></div>
    <!--下拉刷新-->
    <ion-refresher
            pulling-text="下拉刷新..."
            on-refresh="doRefresh()">
    </ion-refresher>
    <!--轮播图-->
    <mg-slide-box source-array="news.adsArray"></mg-slide-box>
    <!--新闻列表-->
    <ion-list>
        <ion-item ng-repeat="item in items" class="zyx" ng-click="doSome($index)">
            <span><img ng-src="{{item.imgsrc}}"></span>
            <span class="zyxSpan">{{item.title}}</span>
        </ion-item>
    </ion-list>
    <!--上拉加载-->
    <ion-infinite-scroll
            on-infinite="loadMore('上拉')"
            distance="1%"
            spinner="android"
            immediate-check="true"
            ng-if="isShowInfinite">
    </ion-infinite-scroll>
</ion-content>
</ion-view>